h1{
    color: rgb(164, 29, 164);
}
body{
    background-color: rgb(121, 177, 179);
}
p{
    color: rgb(214, 9, 136);
}
h2{
    color: rgb(211, 24, 111);
}
header{
    color: rgb(208, 60, 139);
}
